@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 26px;
  height: 20px;
  right: 10px;
  top: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #93c5fd;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #EED3D7;
  padding: 0.5em 1em 0;
  font-size: 1.15em;

}



/* Wrapper for item list */
.bm-item-list {
  color: 	#4B5563;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}



p {
  white-space: pre-wrap;
}